# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

moc*.cpp
*.obj

Makefile*
*.exe
*.dll
*.pdb

*.user*

*.*ebug
*.*lease
obj/
/gen/
/old*/
/*build*/
/.idea/
/WeRock_Share_Sbe/